<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INTERVIEW BUDDY/meeting</title>
  <link rel="stylesheet" href="meeting page/main.css">
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="3056286/t1/favicon_io (10)/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="3056286/t1/favicon_io (10)/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="16x16" href="3056286/t1/favicon_io (10)/favicon-32x32.png">
  <link rel="manifest" href="/site.webmanifest">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='meeting page/main.css'>
  <link rel="stylesheet" href="css/loder.css">

  <!-- =======================================================
  * Template Name: Interview Buddy - v1.12.0
  * Template URL: https://bootstrapmade.com/Interview Buddy-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<!-- 
<body>
  <div class="wrapper" id="ld">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
</div>
<script>
 
    function loader(){
       
        let l_d = document.getElementById('ld');
        l_d.style.display='none';
    }
    setTimeout(loader,10*100);
</script> -->
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index" class="logo d-flex align-items-center">
        <img class="image123" src="3056286/t1/final-removebg-preview.png" class="img-fluid" alt="">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index">Home</a></li>
          <li><a class="nav-link scrollto" href="mynetwork">My Network</a></li>
          <li><a class="nav-link scrollto" href="prof">My Profile</a></li>
          <li><a href="mee_index">Meeting</a></li>
          <li class="dropdown"><a href="#"><span>Expert Session</span> <i
            class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="expert_video">Expert Video</a></li>
         
          <li><a href="courses_page">Courses</a></li>
          <li><a href="question">Quetion Bank</a></li>
          <!-- <li><a href="blog page/blog">Blog</a></li> -->
         
        </ul>
      </li>
          <li><a class="nav-link scrollto" href="contact">Contact</a></li>
          <li><a class="nav-link scrollto" href=""> </a></li>
          <li><a class="nav-link scrollto" href="cal_index"><img src="3056286/calendar.png" alt="calander"
                width="20px"></a></li>
          <li><a class="getstarted scrollto" href="login">LOGOUT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <br><br><br>
  <button id="join-btn">Join Session</button>

  <div id="stream-wrapper">
    <div id="video-streams"></div>

    <div id="stream-controls">
      <button id="leave-btn">End Session</button>
      <button id="mic-btn">Mic On</button>
      <button id="camera-btn">Camera on</button>
    </div>
  </div>
</body>

<script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
<!-- <script src="AgoraRTC_N-4.16.1"></script> -->
<script src='meeting page/main.js'></script>

</html>